header {
    background-color: gray;
}

h2 {
    background-color: purple;
    color: gold;
}

img {
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    background-color: lightslategray;
    color: darkblue;
}

div {
    margin: 70px;
    border: 3px solid black;
    text-align: center;
}